<div class="container">
    <h1>View Inventory</h1>
    <a href="#" routerLink="/inventory/home" class="btn btn-primary">Back</a>
    <div>
        <strong>ID:</strong>
        <p>{{ inventory.id }}</p>
    </div>
    <div>
        <strong>Name:</strong>
        <p>{{ inventory.name }}</p>
    </div>
    <div>
        <strong>Description:</strong>
        <p>{{ inventory.description }}</p>
    </div>
    <div>
        <strong>Price:</strong>
        <p>{{ inventory.price }}</p>
    </div>
</div>